.mainchat
  .mainchat__header
    .mainchat__header__group
      .mainchat__header__group__name
        .name
          = @group.name
        .hako
          .member
            Member :
            - @group.users.each do |user|
              = user.name
    .mainchat__header__edit
      =link_to edit_group_path(@group) do
        .mainchat__header__edit__btn
          Edit
  .mainchat__messages
    .messages
      = render @messages

  
  .form
    .input-box
      .new_message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'

        .input-box__image
          = f.label :image, class: 'label' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'




