.sidebar
  .sidebar__header
    .sidebar__header__log
      .sidebar__header__log__name 
        = current_user.name
      .sidebar__header__log__btnbox
        = link_to new_group_path() do
          = icon('fas', 'edit', class: 'icon-1')   
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon-2')   
  .sidebar__form
    .sidebar__form__block
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            .groupname
              = group.name
            .newposts
              メッセージはまだありません。
